.heading{
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
}

.navbar{
    width: 100vw;
    height: 10vh;
    background-color: #272829;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0;
}

.navbar-holder{
    display: flex;
    justify-content: end;
}

.container-navbar{
    background-color: #272829;
}

.container-navbar a{
    text-align: center;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.custom-toggler.navbar-toggler {
    border-color: rgba(255,255,255, 0.5);
 } 

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0;
    /* border-radius: 0.3rem; */
    /* border-image: #272829; */
    border: 10px solid;
    border-image-slice: 1;
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-image-source: linear-gradient(to left, #272829, #272829);
}

nav ul li a:hover{
    color: white;
    transition: 0.5s;
    border-image-source: linear-gradient(to left, #5468ff, #5adaff);
}