.about{
    margin-top: 10vh;
}
.grid-item{
    /* background-color: blueviolet; */
    height: 25em;
}

.btn-vote{
    width: 150px;
    height: 40px;
    margin: 0%;
    padding: 0%;
}

.btn-vote:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 50px 0 rgba(0, 0, 0, 0.19);
}

.img-intro{
    width: auto;
    height: auto;
}

.img-icon{
    width: auto;
    height: 70px;
    rotate: -30deg;
}