::-webkit-scrollbar {
    scroll-behavior: smooth;
    display: none;
}

.text-hint{
    font-size: 0.9em;
    margin: 0%;
    width: 50%;
}

.column-left{
    width: 10%;
    height: 75vh;
    padding: 0%;
    margin: 0%;
    align-items: center;
    justify-content: center;
}

.column-right{
    width: 85%;
    height: 75vh;
    justify-content: center;
    padding: 0%;
    align-items: center;
    margin: 0%;
}

.candidate img{
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
}

.party-container{
    width: 100%;
    height: 90%;
    border: 1.5px solid rgba(255, 255, 255, 0.06);
}

.party-holder{
    width: 100%;
    scroll-behavior: smooth;
    overflow: scroll;
}

.party{
    width: auto;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border: 1.5px solid rgba(255, 255, 255, 0.06);
    box-shadow: 0 2px 15px 1px #00000088;
    transition: 0.5s all;
}

.party-holder p{
  color: white;
}

.party:before{
  transition: 0.7s all;
}

.party:hover{
  border-color: #5468ff;
  box-shadow: 0 7px 50px 5px #000000aa;
  transform: scale(1.08);
  cursor: pointer;
  /* background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%); */
}

.party-image{
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.candidates-holder{
    scroll-behavior: smooth;
    overflow: scroll;
    width: 100%;
    height: 100%;
    border: 1.5px solid rgba(255, 255, 255, 0.06);
}

.candidate{
    /* height: 400px; */
    border-width: 1px;
    border-style: solid;
    border: 1.5px solid rgba(255, 255, 255, 0.06);
    box-shadow: 0 2px 15px 1px #00000088;
    transition: 0.5s all;
    color: white;
}

.candidate::before{
  transition: 0.7s all;
}

.candidate:hover{
  border-color: #5468ff;
  box-shadow: 0 7px 50px 5px #000000aa;
  transform: scale(1.08);
}

.container-vote{
  width: 90vw;
  background-color: rgba(255, 255, 255, 0.06);
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
  border: 1.5px solid rgba(255, 255, 255, 0.06);
	border-radius: 8px;
}

.container-submit{
    width: 100vw;
    height: 100vh;
    z-index: 100;
    position:fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.2);
}

.submit-form{
    width: 30vw;
    height: auto;
}

.submit-form h3{
    width: 100%;
    text-align: center;
}
/*alert*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.wrapper-success {
    margin: 120px;
  }
  .wrapper-success .card {
    width: auto;
    height: 120px;
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-left: 5px solid #49d761;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .wrapper-success .card .subject {
    margin-right: 180px;
  }
  .wrapper-success .card .subject p {
    color: #909092;
  }
  .wrapper-success .card .icon {
    font-size: 28px;
    color: #49d761;
  }
  .wrapper-success .card .icon-times {
    font-size: 28px;
    color: #c3c2c7;
    cursor: pointer;
  }

  /* checkbox with animation */
  .checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  .checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid rgb(86, 146, 100);
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #198754;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 8px;
  }
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #198754;
  }

  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #198754;
    border-color: #198754;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }

  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }

  /*submit button with animation*/
.button-80 {
  backface-visibility: hidden;
  background: #198754;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.0rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 0.8rem 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-80:disabled {
  color: #787878;
  cursor: auto;
}

.button-80:not(:disabled):hover {
  transform: scale(1.05);
}

.button-80:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-80:focus {
  outline: 0 solid transparent;
}

.button-80:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-80:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-80:not(:disabled):active {
  transform: translateY(.125rem);
}

/*vote button with animation*/
.checkbox-wrapper-10 .tgl {
  display: none;
}
.checkbox-wrapper-10 .tgl,
.checkbox-wrapper-10 .tgl:after,
.checkbox-wrapper-10 .tgl:before,
.checkbox-wrapper-10 .tgl *,
.checkbox-wrapper-10 .tgl *:after,
.checkbox-wrapper-10 .tgl *:before,
.checkbox-wrapper-10 .tgl + .tgl-btn {
  box-sizing: border-box;
}
.checkbox-wrapper-10 .tgl::-moz-selection,
.checkbox-wrapper-10 .tgl:after::-moz-selection,
.checkbox-wrapper-10 .tgl:before::-moz-selection,
.checkbox-wrapper-10 .tgl *::-moz-selection,
.checkbox-wrapper-10 .tgl *:after::-moz-selection,
.checkbox-wrapper-10 .tgl *:before::-moz-selection,
.checkbox-wrapper-10 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-10 .tgl::selection,
.checkbox-wrapper-10 .tgl:after::selection,
.checkbox-wrapper-10 .tgl:before::selection,
.checkbox-wrapper-10 .tgl *::selection,
.checkbox-wrapper-10 .tgl *:after::selection,
.checkbox-wrapper-10 .tgl *:before::selection,
.checkbox-wrapper-10 .tgl + .tgl-btn::selection {
  background: none;
}
.checkbox-wrapper-10 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 8em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox-wrapper-10 .tgl + .tgl-btn:after,
.checkbox-wrapper-10 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.checkbox-wrapper-10 .tgl + .tgl-btn:after {
  left: 0;
}
.checkbox-wrapper-10 .tgl + .tgl-btn:before {
  display: none;
}
.checkbox-wrapper-10 .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.checkbox-wrapper-10 .tgl-flip + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  font-family: sans-serif;
  perspective: 100px;
}
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after,
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
  display: inline-block;
  transition: all 0.4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 4px;
}
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #4e54c8;
  transform: rotateY(-180deg);
}
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
  background: #FF3A19;
  content: attr(data-tg-off);
}
.checkbox-wrapper-10 .tgl-flip + .tgl-btn:active:before {
  transform: rotateY(-20deg);
}
.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:before {
  transform: rotateY(180deg);
}
.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:after {
  transform: rotateY(0);
  left: 0;
  background: #4e54c8;
}
.checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:active:after {
  transform: rotateY(20deg);
}